<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
    </div>
    <div class="input-group mb-3">
      <input
      type="text"
      class="form-control"
      placeholder="Search by city"
      [(ngModel)]="city"
      />
    </div>
    <div class="input-group mb-3">
      <input
      type="text"
      class="form-control"
      placeholder="Search by street"
      [(ngModel)]="street"
      />   
    </div> 
    <div class="input-group mb-3">
      <input
      type="text"
      class="form-control"
      placeholder="Search limit"
      [(ngModel)]="limit"
      />  
    </div>  
    <div class="input-group mb-3">
      <input
      type="text"
      class="form-control"
      placeholder="Search offset"
      [(ngModel)]="offset"
      />  
    </div>     
    <div class="input-group mb-3"> 
      <input
      type="text"
      class="form-control"
      placeholder="Sort by"
      [(ngModel)]="sortBy"
      />
    </div>
    <div class="input-group mb-3"> 
      <input
      type="text"
      class="form-control"
      placeholder="Order"
      [(ngModel)]="order"
      />
    </div>  
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="search()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Buildings List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let building of buildings; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBuilding(building, i)"
      >
        {{ building.name }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentBuilding.id">
      <h4>Building</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentBuilding.name }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentBuilding.description }}
      </div>
      <a class="badge badge-warning" routerLink="/buildings/{{ currentBuilding.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentBuilding">
      <br />
      <p>Please click on a Building...</p>
    </div>
  </div>
</div>
